<% @astronauts.each do |astronaut| %>
  <div class="astronaut-card">
  <h2>Name: <%= astronaut.name %></h2>
  <h2>Age: <%= astronaut.age %></h2>
  <h2>Job: <%= astronaut.job %></h2>
  </div>
<% end %>
